.map2-container {
	position: relative;
	height: 100vh;
}

.map2-menu {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 1000;
	padding: 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(12px);
	box-shadow: 30px 30px 30px 0 rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.map2 {
	width: 100%;
	height: 100%;
}

/* Стили для кнопок масштабирования OpenLayers */
.map2-container .ol-zoom {
	right: 20px;
	left: auto;
	top: 20px;
	bottom: auto;
	background: rgba(255, 255, 255, 0.205);
	padding: 6px;
	border-radius: 40px;
	backdrop-filter: blur(12px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.63);
}

.map2-container .ol-zoom button {
	background: rgba(255, 255, 255, 0);
	color: #000000;
	margin: 2px;
	border-radius: 10px;
	width: 25px;
	height: 25px;
	font-size: 18px;
	outline: none;
	border: none;
}

.map2-container .ol-zoom button:focus {
	outline: none;
	box-shadow: none;
}

.map2-container .ol-zoom button:hover {
	background-color: rgba(255, 255, 255, 0.815);
}

/* Скрыть водяной знак OpenStreetMap */
.ol-attribution {
	display: none;
}

/* Простая стилизация чекбоксов в блоке меню */
.checkbox-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.checkbox-group label {
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #333;
	cursor: pointer;
}

.checkbox-group input[type='checkbox'] {
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid #7b1fa2;
	border-radius: 4px;
	position: relative;
	margin-right: 10px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

/* Состояние выбранного чекбокса */
.checkbox-group input[type='checkbox']:checked {
	background-color: #7b1fa2;
}

/*Чекбокс галка */
.checkbox-group input[type='checkbox']:checked::after {
	content: '';
	position: absolute;
	left: 6px;
	top: 2px;
	width: 4px;
	height: 8px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

/* Стили для кнопки добавления точки*/
.add-point-button {
	backdrop-filter: blur(12px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.63);
	position: absolute;
	top: 20px;
	right: 70px;
	z-index: 1500;
	background: rgba(255, 255, 255, 0);
	color: #000000;
	margin: 2px;
	border-radius: 30px;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	opacity: 1;
	transition: background-color 0.2s ease;
}

.add-point-button:focus {
	outline: none;
	box-shadow: none;
}

.add-point-button:hover {
	background-color: rgba(255, 255, 255, 0.815);
}

.add-point-button.active {
	opacity: 0.5;
}

/* Стили для кнопки удаления точки */
.delete-point-button {
	backdrop-filter: blur(12px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.63);
	position: absolute;
	top: 20px;
	right: 120px;
	z-index: 1500;
	background: rgba(255, 255, 255, 0);
	color: #000000;
	margin: 2px;
	border-radius: 30px;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	opacity: 1;
	transition: background-color 0.2s ease;
}

.delete-point-button:focus {
	outline: none;
	box-shadow: none;
}

.delete-point-button:hover {
	background-color: rgba(255, 255, 255, 0.815);
}

.delete-point-button.active {
	opacity: 0.5;
}

/* Стили для кнопки выбора аэропортов */
.select-airports-button {
	backdrop-filter: blur(12px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.63);
	position: absolute;
	top: 20px;
	right: 170px;
	z-index: 1500;
	background: rgba(255, 255, 255, 0);
	color: #000000;
	margin: 2px;
	border-radius: 30px;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	opacity: 1;
	transition: background-color 0.2s ease;
}

.select-airports-button:focus {
	outline: none;
	box-shadow: none;
}

.select-airports-button:hover {
	background-color: rgba(255, 255, 255, 0.815);
}

.select-airports-button.active {
	opacity: 0.5;
}


/* Стили для блока отображения расстояния маршрута */
.route-distance {
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	font-size: 14px;
	color: #000;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

